/* styles/Header.module.css */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
  z-index: 999;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 100px;
  overflow: hidden;
}
